html{
   
} 

body {
    background-color:  #4b4d4a;   
}

html, body {
    height: 100%;
    font-size: 14px;
    min-width: 280px;
    padding: 0px;
}

h2, .h2 {
    font-size: 2em;
    margin: 0 0 .888em;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: 'Pathway Gothic One',Helvetica,Arial,sans-serif;
    font-weight: normal;
    padding: 0;
    line-height: 1.2;
    clear: left;
    color: #005b99;
}



h2, .h2 {
    font-size: 30px;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* LINKS */
a, a:link, a:link, a:link, a:hover {

    text-decoration: none;
    color: #000;
    border-bottom: 1px dotted #000;
    font-weight: normal;
}


a:link, a:visited {
    text-decoration: none;
    color: #000;
    border-bottom: 1px dotted #000;
    font-weight: normal;
}

a:visited {
    color: #999;
} 

a:hover, a:active {
    color: #069;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #333;
} 

.ui-widget-content {
    border: 0px solid #ddd;
}


#header {
	margin: auto;
    background: #fff;
    max-width: 720px;
}
#header h1 {
	line-height: 32px;
	font-size: 28px;
}
#header .header-link {
	text-decoration: none;
	color: #222;
}
#header img {
	width: 170px;
	margin: -16px auto 0 auto;
    padding-top: 25px;
}


#wrap {
    width: 100%;
    background: #fff;
    padding-bottom: 64px;    
    border: 0px solid #fff;
    position: relative;
    text-align: left; 
    margin: 20px 75px 2em 75px;
    max-width: 100%;
    margin: auto;
}

#content {
	margin: 0px auto;
    max-width: 720px;
}

.btn:hover {
	background-image: none;
}

.ui-widget-header {
	border-width: 0px;
	border-bottom: 1px solid #ddd;
	background: transparent;
}
.ui-widget-header .ui-state-default {
	border: 0px;
	background: #fff;
	color: #337ab7;
}
.ui-widget-header .ui-state-default:hover {
        background: #eee;
        color: #23527c;
}
.ui-widget-header .ui-state-active {
        border: 1px solid #ddd;
}
.ui-widget-header .ui-state-active:hover {
        background: #fff;
}


hr {
	border-top: 1px solid #ddd;
}
ul, menu, dir {
    display: block;
    text-align: left;
    color: #e1e5e9;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}


ul {
    list-style: square outside;
}

p, ul, ol, dl, pre, table, hr, blockquote, figure, details, fieldset, address {
    margin: 0 0 1.4em 0;
    padding: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0 0 0 1.5em;
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    color: #e1e5e9;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
#footer {
    font-size: 0.9em;
	color: #e1e5e9;
    background-color: #4b4d4a;
	border-top: 10px solid #ddd;
	text-align: left;
	padding: 16px;
	font-family: Helvetica,Arial,sans-serif;
}

#footer .col {
    margin-bottom: 40px;
    line-height: 2.1em;
}

#footer .col h2 {
    font-family: Helvetica,Arial,sans-serif;
    font-weight: bold;
    color: #e1e5e9;
    padding-bottom: .8em;
    margin-bottom: 1em;
    font-size: 1.05em;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    }

#footer .col ul li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 25px;
    background: #4b4d4a url(../img/bullet.png) no-repeat 0 .5em;
}
#footer .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}

#footer .col-sm-2 control-label{
    color: #fff;
}

#footer.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    color: #e1e5e9;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

#footer .col ul {
    padding-left: 0;
}

#footer a {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px ;
    font-weight: normal;
}

#footer a:link {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px ;
    font-weight: normal;
}

#footer a:visited , #footer a:hover {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    font-weight: normal;
}

#footer div{
    display: block;
}

.copyright{
    text-align: right;
    width: 100%;
    margin-top: -20px;
}

#footer img {
	margin: 0px 16px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}